<div class="rest-nested-data-page">
    <ngx-docs-example
        title="Mock nested data page"
        [html]="source.html"
        [ts]="source.ts">
        <div
            class="body"
            fxLayout.gt-md="row"
            fxLayout.lt-md="column"
            fxLayoutAlign="space-evenly stretch">
            <ngx-docs-example
                title="Users"
                [html]="usersGridSource.html"
                [css]="usersGridSource.css"
                [ts]="usersGridSource.ts"
                fxFlex.gt-sm="50"
                fxFlex.lt-sm="100">
                <div class="body">
                    <users-with-groups-grid
                        #usersGrid1
                        [exampleUseNestedGroupsFromRest]="true"></users-with-groups-grid>
                </div>
                <div class="debug">
                    <p>
                        <strong>Items:</strong>
                        {{usersGrid1?.repository?.items$ | async | json}}
                    </p>
                </div>
            </ngx-docs-example>
            <ngx-docs-example
                title="Users (copy)"
                [html]="usersGridSource.html"
                [css]="usersGridSource.css"
                [ts]="usersGridSource.ts"
                fxFlex.gt-sm="50"
                fxFlex.lt-sm="100">
                <div class="body">
                    <users-with-groups-grid
                        [exampleUseNestedGroupsFromRest]="true"
                        #usersGrid2></users-with-groups-grid>
                </div>
                <div class="debug">
                    <p>
                        <strong>Items:</strong>
                        {{usersGrid2?.repository?.items$ | async | json}}
                    </p>
                </div>
            </ngx-docs-example>
        </div>
    </ngx-docs-example>
    <div
        fxLayout.gt-md="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-evenly stretch">
        <div
            fxFlex.gt-sm="50"
            fxFlex.lt-sm="100">
            <div
                fxLayout="column"
                fxLayoutAlign="start stretch">
                <ngx-docs-example
                    title="User modal"
                    [html]="userModalSource.html"
                    [css]="userModalSource.css"
                    [ts]="userModalSource.ts"
                    fxFlex.gt-sm="50"
                    fxFlex.lt-sm="100">
                    <div class="body">
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="usersGrid1?.showModal()">
                            <mat-icon>add</mat-icon>
                            Add
                        </button>
                        <button
                            mat-raised-button
                            (click)="usersGrid1?.showModal(usersGrid1?.repository?.items[0])">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <button
                            mat-raised-button
                            (click)="usersGrid1?.showRemoveModal(usersGrid1?.repository?.items[0])">
                            <mat-icon>close</mat-icon>
                            Delete
                        </button>
                    </div>
                </ngx-docs-example>
                <ngx-docs-example
                    title="Groups"
                    [html]="groupsGridSource.html"
                    [css]="groupsGridSource.css"
                    [ts]="groupsGridSource.ts"
                    fxFlex.gt-sm="50"
                    fxFlex.lt-sm="100">
                    <div class="body">
                        <groups-grid #groupsGrid1></groups-grid>
                    </div>
                    <div class="debug">
                        <p>
                            <strong>Items:</strong>
                            {{groupsGrid1?.repository?.items$ | async | json}}
                        </p>
                        <p>
                            <strong>Selected:</strong>
                            {{groupsGrid1?.selection.selected | json}}
                        </p>
                    </div>
                </ngx-docs-example>
                <ngx-docs-example
                    title="Group modal"
                    [html]="groupModalSource.html"
                    [css]="groupModalSource.css"
                    [ts]="groupModalSource.ts"
                    fxFlex.gt-sm="50"
                    fxFlex.lt-sm="100">
                    <div class="body">
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="groupsGrid1?.showModal()">
                            <mat-icon>add</mat-icon>
                            Add
                        </button>
                        <button
                            mat-raised-button
                            (click)="groupsGrid1?.showModal(groupsGrid1?.repository?.items[0])">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <button
                            mat-raised-button
                            (click)="groupsGrid1?.showRemoveModal(groupsGrid1?.repository?.items[0])">
                            <mat-icon>close</mat-icon>
                            Delete
                        </button>
                    </div>
                </ngx-docs-example>
                <ngx-docs-example
                    title="User groups"
                    [html]="userGroupsGridSource.html"
                    [css]="userGroupsGridSource.css"
                    [ts]="userGroupsGridSource.ts"
                    fxFlex.gt-sm="50"
                    fxFlex.lt-sm="100"
                    *ngIf="usersGrid1?.repository?.items[0]">
                    <div class="body">
                        <user-with-groups-groups-grid
                            [mockedItems]="usersGrid1?.repository?.items[0]?.groups"
                            [user]="usersGrid1?.repository?.items[0]"
                            #groupsGrid2></user-with-groups-groups-grid>
                    </div>
                    <div class="debug">
                        <p>
                            <strong>User:</strong>
                            {{usersGrid1?.repository?.items[0] | json}}
                        </p>
                    </div>
                </ngx-docs-example>
                <ngx-docs-example
                    title="Groups grid modal"
                    [html]="groupsGridModalSource.html"
                    [css]="groupsGridModalSource.css"
                    [ts]="groupsGridModalSource.ts"
                    fxFlex.gt-sm="50"
                    fxFlex.lt-sm="100"
                    *ngIf="usersGrid1?.repository?.items[0]">
                    <div class="body">
                        <button
                            mat-raised-button
                            (click)="groupsGrid2?.showAppendModal()"
                            *ngIf="groupsGrid2?.showAppendModal">
                            <mat-icon>add</mat-icon>
                            Select
                        </button>
                    </div>
                </ngx-docs-example>
            </div>
        </div>
        <source-tabs
            title="Other files"
            [files]="otherFiles"
            fxFlex.gt-sm="50"
            fxFlex.lt-sm="100"></source-tabs>
    </div>
</div>
